@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url(https://fonts.googleapis.com/css?family=Merriweather);


/* Set default values here */
body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  
}

/* This styles the "title" of the page */
#header {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 40px;
}


a {
  /* text-decoration: deaf;
  color: #000000; */
}


h1 a {
  font-size: 80px;
  font-weight: bold;
  text-shadow: none;
  color: #000000;
  text-decoration: none;
  line-height: 1.15em;
  margin-top: 20px;
  margin-bottom: 20px;  
}

h2 {

}

.day {
  width: 50%;
  margin-left: 20px;
  margin-right: 20px;
  
}

#flljrlogo {
  height: 25%;
  width: 25%;
  /* height: 480px;
  width: 583px; */
}