@import url(https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
@import url(https://fonts.googleapis.com/css?family=Merriweather);


/* Set default values here */
body {
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  margin: 0px;
  
}

/* This styles the "title" of the page */
#header {
  background-color: #0F0838;
  color: #FFFFFF;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  margin: 0px;
}


a {
  /* text-decoration: deaf;
  color: #000000; */
}


h1 a {
  font-size: 80px;
  font-weight: bold;
  text-shadow: none;
  color:#FFD000;
  text-decoration: none;
  line-height: 1.15em;
  margin-top: 20px;
  margin-bottom: 20px;  
}

h2 {
  font-weight: 600;
}

h3 {
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: -40px;
}

p {
  font-weight: 400;
  margin-left: 20px;
  margin-right: 20px;
}

ul {
  margin-left: 40px;
}


#day {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  height: auto;  
}

#flljrlogo {
  height: 25%;
  width: 25%;
  /* height: 480px;
  width: 583px; */
}


#farmingtonrobotics {
  background-color: #0F0838;
  color: #FFFFFF;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: center;
  font-size: 16px;
  margin: 0px;
}

.website-link:link {
  color: #FFD000;
}

.website-link:visited {
  color: #FFD000;
}

.website-link:hover {
  color: #FFD000;
}

.website-link:active {
  color: #FFD000;
}